<style>
    /* about */
    ._customer-about-wrapper {
        margin: 90px auto 0 auto;
        max-width: 1820px;
        width: 100%;
        max-height: 458px;
        background-color: #005FA0;
        box-shadow: 10px 20px 40px rgba(0, 95, 160, 0.5);
        border-radius: 25px;
        padding: 50px 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
    }

    ._customer-about {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: nowrap;
        max-width: 1146px;
        width: 100%;
    }

    ._customer-about__text-block {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: nowrap;
        max-width: 810px;
        width: 100%;
    }

    ._customer-about__title {
        color: #ffffff;
        font-family: "Prosto One", sans-serif;
        font-size: 48px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 120% !important;
        text-align: left;
        text-transform: none;
        margin: 0 0 20px 0 !important;
    }

    ._customer-about__text {
        color: #ffffff;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 130% !important;
        text-align: left;
        text-transform: none;
        margin: 0 0 20px 0 !important;
    }

    ._customer-about__text:last-of-type {
        margin: 0 !important;
    }

    ._customer-about__img {
        max-width: 202px !important;
        width: 100% !important;
        max-height: 534px !important;
        height: auto !important;
        margin: -50px 0 -76px 80px;
        z-index: 1;
        filter: drop-shadow(28px 19px 97px rgba(0, 0, 0, 0.23));
    }

    @media (max-width: 1840px) {
        ._customer-about-wrapper {
            width: calc(100% - 20px);
            max-height: 100%;
            height: auto;
        }

        ._customer-about__img {
            margin: -50px 0 -116px 40px;
        }
    }

    @media (max-width: 1260px) {
        ._customer-about {
            width: calc(100% - 40px);
            justify-content: space-between;
        }
    }
</style>


<div class="_customer-clients">
    <h1 class="_customer-clients__ttl">Наши партнеры</h1>
    <div class="_customer-clients-slider">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="_customer-slide__item-img">
                        <img src="/system/ckeditor_assets/pictures/294790/content_client_1.png" alt="Наш клиент">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="_customer-slide__item-img">
                        <img src="/system/ckeditor_assets/pictures/294791/content_client_2.png" alt="Наш клиент">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="_customer-slide__item-img">
                        <img src="/system/ckeditor_assets/pictures/294792/content_client_3.png" alt="Наш клиент">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="_customer-slide__item-img">
                        <img src="/system/ckeditor_assets/pictures/294793/content_client_4.png" alt="Наш клиент">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="_customer-slide__item-img">
                        <img src="/system/ckeditor_assets/pictures/294794/content_client_5.png" alt="Наш клиент">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="_customer-slide__item-img">
                        <img src="/system/ckeditor_assets/pictures/294795/content_client_6.png" alt="Наш клиент">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="_customer-slide__item-img">
                        <img src="/system/ckeditor_assets/pictures/294796/content_client_7.png" alt="Наш клиент">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="_customer-slide__item-img">
                        <img src="/system/ckeditor_assets/pictures/294797/content_client_8.png" alt="Наш клиент">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="_customer-slide__item-img">
                        <img src="/system/ckeditor_assets/pictures/294798/content_client_9.png" alt="Наш клиент">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="_customer-slide__item-img">
                        <img src="/system/ckeditor_assets/pictures/294804/content_client_10.png" alt="Наш клиент">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="_customer-slide__item-img">
                        <img src="/system/ckeditor_assets/pictures/294802/content_client_11.png" alt="Наш клиент">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="_customer-slide__item-img">
                        <img src="/system/ckeditor_assets/pictures/294806/content_client_12.png" alt="Наш клиент">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="_customer-about-wrapper">
    <div class="_customer-about">
        <div class="_customer-about__text-block">
            <h1 class="_customer-about__title">
                о компании
            </h1>
            <p class="_customer-about__text">
                Компания ООО «Инженерные системы Юга» занимается поставкой электротехнического оборудования, в том числе
                комплектующих для кабельной канализации. Предлагает услуги по сертифицированной сборке электрощитового
                оборудования и установке уличных опор.
            </p>
            <p class="_customer-about__text">
                В наличии допуск для выполнения работ на объектах нефтегазового сектора, участие в электроснабжении
                объектов здравоохранения, спортивных и развлекательных объектов, включая Олимпийские объекты в г. Сочи.
            </p>
            <p class="_customer-about__text">
                Доставка продукции по всей России.
            </p>
        </div>
        <img class="_customer-about__img" src="/system/ckeditor_assets/pictures/294862/content_about-img.png">
    </div>
</div>

<div class="_customer-letters">
    <div class="_customer-title-block">
        <div class="swiper-button-prev"></div>
        <h1 class="_customer-title">Благодарственные письма</h1>
        <div class="swiper-button-next"></div>
    </div>

    <div class="_customer-slider">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <figure class="_customer-image">
                        <img src="/system/ckeditor_assets/pictures/294735/content_letter_1.jpg" alt="">
                    </figure>
                </div>
                <div class="swiper-slide">
                    <figure class="_customer-image">
                        <img src="/system/ckeditor_assets/pictures/294736/content_letter_2.jpg" alt="">
                    </figure>
                </div>
                <div class="swiper-slide">
                    <figure class="_customer-image">
                        <img src="/system/ckeditor_assets/pictures/294737/content_letter_3.jpg" alt="">
                    </figure>
                </div>
                <div class="swiper-slide">
                    <figure class="_customer-image">
                        <img src="/system/ckeditor_assets/pictures/294738/content_letter_4.jpg" alt="">
                    </figure>
                </div>
                <div class="swiper-slide">
                    <figure class="_customer-image">
                        <img src="/system/ckeditor_assets/pictures/294739/content_letter_5.jpg" alt="">
                    </figure>
                </div>

                <div class="swiper-slide">
                    <figure class="_customer-image">
                        <img src="/system/ckeditor_assets/pictures/294739/content_letter_5.jpg" alt="">
                    </figure>
                </div>
            </div>
        </div>
        <script>
            var letterSlide = new Swiper('._customer-letters .swiper-container', {
                slidesPerView: 'auto',
                spaceBetween: 0,
                grabCursor: false,
                mousewheel: true,
                keyboard: {
                    enabled: true,
                },
                navigation: {
                    prevEl: '._customer-letters .swiper-button-prev',
                    nextEl: '._customer-letters .swiper-button-next',
                },
                /*breakpoints: {
                    640: {
                        slidesPerView: 1,
                    },
                    860: {
                        slidesPerView: 2,
                    },
                    1164: {
                        slidesPerView: 2,
                    },
                    1190: {
                        slidesPerView: 3,
                    },
                    1200: {
                        slidesPerView: 3,
                    },
                },*/
            });
        </script>
    </div>


    <!--Pop-up-->

    <div class="_customer-pop-image">
        <div class="_customer-pop-image__overlay" onclick="popClose();"></div>
        <div class="_customer-pop-image__content">
            <img src="" alt="">
        </div>
    </div>
    <script>
        var slides = document.querySelectorAll('._customer-letters ._customer-image'),
            popUp = document.querySelector('._customer-pop-image'),
            popUpImage = popUp.querySelector('img');
        for (var i = 0; i < slides.length; i++) {
            slides[i].addEventListener('click', function (e) {
                var slidesImage = this.querySelector('img').src;
                popUpImage.src = slidesImage;
                popUp.classList.add('active');
            });
        }

        function popClose() {
            popUp.classList.remove('active');
        }
    </script>
    <!--end Pop-up-->
</div>


<script>
    var sliderInfo = new Swiper('._customer-clients .swiper-container', {
        slidesPerView: 1,
        spaceBetween: 10,
        loop: true,
        loopedSlides: 12,
        grabCursor: true,
        mousewheel: true,
        keyboard: {
            enabled: true,
        },
        autoplay: {
            delay: 4000,
        },
        navigation: {
            prevEl: '._customer-clients .swiper-button-prev',
            nextEl: '._customer-clients .swiper-button-next',
        },
        breakpoints: {
            600: {
                slidesPerView: 4,
            },
            900: {
                slidesPerView: 4,
            },
            1024: {
                slidesPerView: 4,
            },
            1100: {
                slidesPerView: 5,
            },
            1166: {
                slidesPerView: 5,
            },
            1200: {
                slidesPerView: 6,
            }
        }
    });
</script>