<div class="_customer-advantages-wrapper">
    <p class="_customer-advantages__title">Преимущества</p>
    <div class="_customer-advantages">
        <div class="_customer-advantages__item">
            <img src="/system/ckeditor_assets/pictures/294746/content_advant_1.png">
            <p class="_customer-advantages__text">Свой цех по сборке <br>
                электрощитового <br> оборудования</p>
        </div>

        <div class="_customer-advantages__item">
            <img src="/system/ckeditor_assets/pictures/294747/content_advant_2.png">
            <p class="_customer-advantages__text">Помощь в <br> подборе товара</p>
        </div>

        <div class="_customer-advantages__item">
            <img src="/system/ckeditor_assets/pictures/294748/content_advant_3.png">
            <p class="_customer-advantages__text">Быстрая <br>доставка</p>
        </div>

        <div class="_customer-advantages__item">
            <img src="/system/ckeditor_assets/pictures/294749/content_advant_4.png">
            <p class="_customer-advantages__text">Собственное<br> производство</p>
        </div>

        <div class="_customer-advantages__item">
            <img src="/system/ckeditor_assets/pictures/294750/content_advant_5.png  ">
            <p class="_customer-advantages__text">Широкий <br>ассортимент</p>
        </div>

        <div class="_customer-advantages__item">
            <img src="/system/ckeditor_assets/pictures/294751/content_advant_6.png">
            <p class="_customer-advantages__text">Скидки <br> за объем</p>
        </div>
    </div>
</div>