<link href="https://fonts.googleapis.com" rel="preconnect" />
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&amp;display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Prosto+One&amp;display=swap" rel="stylesheet" />
<style type="text/css">
.company-header-title {
  font-size: 0px !important;
}


._customer-page {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

._customer-page * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

._customer-section__head {
  margin-bottom: 40px;
}

._customer-page__title {
  font-family: Prosto One;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.2;
  text-align: center;
  color: #221f1f;
}

._customer-section__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

._customer-section__column {
  background: #F3F3F3;
  -webkit-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  height: 346px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

._customer-section__column:hover {
  -webkit-box-shadow: 0px 8px 8px rgba(255, 173, 13, 0.52);
  box-shadow: 0px 8px 8px rgba(255, 173, 13, 0.52);
}

._customer-column__inner {
  height: 248px;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}

._customer-column__img {
  width: 100%;
  height: 100%;
}

._customer-column__img img {
  display: block;
  max-width: 100% !important;
  width: 100%;
  height: 100% !important;
}

._customer-desc {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 95, 160, 0.8);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 30px;
  visibility: hidden;
}

._customer-section__column:hover ._customer-desc {
  visibility: visible;
}

._customer-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #fff;
  margin-bottom: 5px;
}

._customer-text span {
  font-weight: 500;
}

._customer-list {
  padding-left: 0 !important;
  padding-left: 20px !important;
  margin: 0 !important;
}

._customer-list-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #fff;
}

._customer-column__comp {
  padding: 17px 20px;
}

._customer-comp__name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  text-align: left;
  color: #221f1f;
  margin-bottom: 7px;
}

._customer-comp__lock {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  color: #221f1f;
}

@media (max-width: 998px) {
  .company-page-content .cpc-text-wrapper img {
    max-width: 100%;
    height: 100% !important;
  }

  .company-page-content .cpc-header {
    font-size: 0px;
    margin-bottom: 0;
  }

  ._customer-page__container {
    max-width: 1156px;
    margin: 0 auto;
    padding: 0 5px;
  }

  ._customer-section__grid {
    grid-template-columns: 1fr;
  }

  ._customer-section__column {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {

  ._customer-page__title {
    font-size: 36px;
  }
}




@media (max-width: 540px) {
  ._customer-page__title {
    font-size: 32px;
  }

  ._customer-text,
  ._customer-list-item {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  ._customer-page__title {
    font-size: 30px;
  }

  ._customer-desc {
    padding-left: 15px;
    padding-right: 15px;
  }

  ._customer-section__column {
    min-height: 375px;
  }
}

@media (max-width: 400px) {
  ._customer-section__column:nth-child(1) ._customer-column__inner {
    height: 290px;
  }
}

@media (max-width: 370px) {
  ._customer-section__column:nth-child(1) {
    min-height: 420px;
  }

  ._customer-section__column:nth-child(1) ._customer-column__inner {
    height: 350px;
  }

  ._customer-section__column:nth-child(3) ._customer-column__inner {
    height: 300px;
  }
}

</style>
<main class="_customer-page">
  <div class="_customer-page__wrapper">
    <div class="_customer-page__container">
      <section class="_customer-section__head">
        <div class="_customer-page__title">Портфолио</div>
      </section>
      <section class="_customer-section__grid">
        <div class="_customer-section__column">
          <div class="_customer-column__wrapper">
            <div class="_customer-column__inner">
              <div class="_customer-column__img"><img alt="" src="/system/ckeditor_assets/pictures/293811/content_image1.jpg" /></div>
              <div class="_customer-desc">
                <div class="_customer-text">Завод по производству сельскохозяйственной техники в г. Краснодаре, дочернее предприятие немецкого концерна <span>CLAAS</span></div>
                <ul class="_customer-list">
                  <li class="_customer-list-item">строительство, монтаж и подключение БКТП-1*400 кВА/10/0,4кВ в соответствии с Техническим заданием заказчика.</li>
                  <li class="_customer-list-item">проектирование и монтаж системы вентиляции в выставочном павильоне &quot;Технопарк&quot;.</li>
                  <li class="_customer-list-item">ремонт системы электропроводки в выставочном павильоне &quot;Технопарк&quot;.</li>
                  <li class="_customer-list-item">изготовление и поставка антивандальных постов</li>
                </ul>
              </div>
            </div>
            <div class="_customer-column__comp">
              <div class="_customer-comp__name">ООО &laquo;КЛААС&raquo;</div>
              <div class="_customer-comp__lock">​г. Краснодар, Мирный проезд, 16</div>
            </div>
          </div>
        </div>
        <div class="_customer-section__column">
          <div class="_customer-column__wrapper">
            <div class="_customer-column__inner">
              <div class="_customer-column__img"><img alt="" src="/system/ckeditor_assets/pictures/293812/content_image2.jpg" /></div>
              <div class="_customer-desc">
                <div class="_customer-text">Сборка, поставка, монтаж ГРЩ на оборудовании Legrand</div>
                <ul class="_customer-list">
                  <li class="_customer-list-item">опор освещения парковой зоны;</li>
                  <li class="_customer-list-item">антивандальных питающих постов Mennekes;</li>
                  <li class="_customer-list-item">кабельно-проводниковой продукции.</li>
                </ul>
              </div>
            </div>
            <div class="_customer-column__comp">
              <div class="_customer-comp__name">СТАДИОН ФК &quot;КРАСНОДАР&quot;</div>
              <div class="_customer-comp__lock">​г. Краснодар, ул. Разведчика Леонова, 1</div>
            </div>
          </div>
        </div>
        <div class="_customer-section__column">
          <div class="_customer-column__wrapper">
            <div class="_customer-column__inner">
              <div class="_customer-column__img"><img alt="" src="/system/ckeditor_assets/pictures/293813/content_image3.jpg" /></div>
              <div class="_customer-desc">
                <div class="_customer-text">Сборка, поставка, монтаж ГРЩ 1250А на оборудовании Legrand.<br />
                  Монтаж и ПНР:</div>
                <ul class="_customer-list">
                  <li class="_customer-list-item">городская радиотрансляционная сеть;</li>
                  <li class="_customer-list-item">структурированная кабельная сеть (телефонная городская, местная и компьютерная сеть);</li>
                  <li class="_customer-list-item">система видеонаблюдения;</li>
                  <li class="_customer-list-item">система телевидения.</li>
                  <li class="_customer-list-item">автоматизированная система антиобледенения водостоков.</li>
                </ul>
              </div>
            </div>
            <div class="_customer-column__comp">
              <div class="_customer-comp__name">АКАДЕМИЯ ФК &laquo;КРАСНОДАР&raquo;</div>
              <div class="_customer-comp__lock">​г. Краснодар, ул. Жлобы, 114</div>
            </div>
          </div>
        </div>
        <div class="_customer-section__column">
          <div class="_customer-column__wrapper">
            <div class="_customer-column__inner">
              <div class="_customer-column__img"><img alt="" src="/system/ckeditor_assets/pictures/293814/content_image4.jpg" /></div>
              <div class="_customer-desc">
                <div class="_customer-text">Сборка, поставка, монтаж ГРЩ 1600А на оборудовании Schneider Electric.</div>
              </div>
            </div>
            <div class="_customer-column__comp">
              <div class="_customer-comp__name">СТАДИОН &laquo;АНЖИ АРЕНА&raquo;</div>
              <div class="_customer-comp__lock">​г. Каспийск, Дагестан</div>
            </div>
          </div>
        </div>
        <div class="_customer-section__column">
          <div class="_customer-column__wrapper">
            <div class="_customer-column__inner">
              <div class="_customer-column__img"><img alt="" src="/system/ckeditor_assets/pictures/293815/content_image5.jpg" /></div>
              <div class="_customer-desc">
                <div class="_customer-text">Перепроектирование, поставка и монтаж системы водоотведения и вентиляции подземной парковки стадиона.</div>
                <div class="_customer-text">Поставка и монтаж огнезащитного кабельного лотка.</div>
              </div>
            </div>
            <div class="_customer-column__comp">
              <div class="_customer-comp__name">СТАДИОН &laquo;ДИНАМО&raquo;</div>
              <div class="_customer-comp__lock">​г. Краснодар, ул. Красная, 192</div>
            </div>
          </div>
        </div>
        <div class="_customer-section__column">
          <div class="_customer-column__wrapper">
            <div class="_customer-column__inner">
              <div class="_customer-column__img"><img alt="" src="/system/ckeditor_assets/pictures/293816/content_image6.jpg" /></div>
              <div class="_customer-desc">
                <ul class="_customer-list">
                  <li class="_customer-list-item">поставка шинопровода</li>
                  <li class="_customer-list-item">сборка, поставка распределительных шкафов до 1000А</li>
                </ul>
              </div>
            </div>
            <div class="_customer-column__comp">
              <div class="_customer-comp__name">ГОСТИНИЦА &laquo;БОГАТЫРЬ&raquo;</div>
              <div class="_customer-comp__lock">​ОАО &laquo;Сочи Парк&raquo;</div>
            </div>
          </div>
        </div>
        <div class="_customer-section__column">
          <div class="_customer-column__wrapper">
            <div class="_customer-column__inner">
              <div class="_customer-column__img"><img alt="" src="/system/ckeditor_assets/pictures/293817/content_image7.jpg" /></div>
              <div class="_customer-desc">
                <ul class="_customer-list">
                  <li class="_customer-list-item">сборка, поставка, монтаж ГРЩ 1600А на оборудовании Legrand</li>
                  <li class="_customer-list-item">городская радиотрансляционная сеть,</li>
                  <li class="_customer-list-item">электрочасофикация,</li>
                  <li class="_customer-list-item">оповещение о пожаре,</li>
                  <li class="_customer-list-item">структурированная кабельная сеть,</li>
                  <li class="_customer-list-item">система видеонаблюдения.</li>
                </ul>
              </div>
            </div>
            <div class="_customer-column__comp">
              <div class="_customer-comp__name">КРАЕВАЯ КЛИНИЧЕСКАЯ БОЛЬНИЦА ИМ. ПРОФ. ОЧАПОВСКОГО</div>
              <div class="_customer-comp__lock">​г. Краснодар, ул. 1-Мая.</div>
            </div>
          </div>
        </div>
        <div class="_customer-section__column">
          <div class="_customer-column__wrapper">
            <div class="_customer-column__inner">
              <div class="_customer-column__img"><img alt="" src="/system/ckeditor_assets/pictures/293818/content_image8.jpg" /></div>
              <div class="_customer-desc">
                <ul class="_customer-list">
                  <li class="_customer-list-item">сборка, поставка, монтаж ГРЩ 800А на оборудовании Schneider Electric</li>
                  <li class="_customer-list-item">сборка, поставка, монтаж распределительных шкафов 0,4кВ,</li>
                  <li class="_customer-list-item">поставка и подключение источника бесперебойного питания 200кВ</li>
                  <li class="_customer-list-item">электромонтажные работы 0,4кВ</li>
                  <li class="_customer-list-item">электромонтажные работы 10кВ</li>
                </ul>
              </div>
            </div>
            <div class="_customer-column__comp">
              <div class="_customer-comp__name">ПФР ПО КРАСНОДАРСКОМУ КРАЮ И КРАСНОДАРУ</div>
              <div class="_customer-comp__lock">​г. Краснодар, ул. Хакурате, 8.</div>
            </div>
          </div>
        </div>
        <div class="_customer-section__column">
          <div class="_customer-column__wrapper">
            <div class="_customer-column__inner">
              <div class="_customer-column__img"><img alt="" src="/system/ckeditor_assets/pictures/293819/content_image9.jpg" /></div>
              <div class="_customer-desc">
                <div class="_customer-text">Сборка, поставка, монтаж ГРЩ 1600А на оборудовании Legrand.</div>
              </div>
            </div>
            <div class="_customer-column__comp">
              <div class="_customer-comp__name">ГОСТИНИЦА &quot;ИНТУРИСТ-КРАСНОДАР&quot;</div>
              <div class="_customer-comp__lock">​г. Краснодар, ул. Красная, 109</div>
            </div>
          </div>
        </div>
        <div class="_customer-section__column">
          <div class="_customer-column__wrapper">
            <div class="_customer-column__inner">
              <div class="_customer-column__img"><img alt="" src="/system/ckeditor_assets/pictures/293820/content_image10.jpg" /></div>
              <div class="_customer-desc">
                <ul class="_customer-list">
                  <li class="_customer-list-item">проектирование и монтаж 0,4кВ</li>
                  <li class="_customer-list-item">сборка, поставка распределительных шкафов и ГРЩ до 800А на оборудовании Legrand</li>
                </ul>
              </div>
            </div>
            <div class="_customer-column__comp">
              <div class="_customer-comp__name">ООО &quot;КЛИНИКА ЕКАТЕРИНИНСКАЯ&quot;</div>
              <div class="_customer-comp__lock">​г. Краснодар, ул. Кубанская Набережная, 37/1, ул. им. Героя Яцкова, 2/2</div>
            </div>
          </div>
        </div>
        <div class="_customer-section__column">
          <div class="_customer-column__wrapper">
            <div class="_customer-column__inner">
              <div class="_customer-column__img"><img alt="" src="/system/ckeditor_assets/pictures/293821/content_image11.jpg" /></div>
              <div class="_customer-desc">
                <div class="_customer-text">Дополнительный нефтепровод Ду300 по ПСП до ЦРППиК</div>
                <div class="_customer-text">Сборка, поставка ГРЩ 630А на оборудовании Schneider Electric.</div>
              </div>
            </div>
            <div class="_customer-column__comp">
              <div class="_customer-comp__name">АФИПСКИЙ НПЗ</div>
              <div class="_customer-comp__lock">​г. Краснодар, ​Шоссейная, 35</div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
