<style>
    /*  toolbar */
    .custom-company-toolbar {
        overflow: visible;
    }

    .company-site {
        overflow: visible !important;
    }

    ._customer-toolbar {
        position: relative;
        margin: 0;
        width: 100%;
        background-color: #FFFFFF;
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
        box-sizing: border-box;
        height: 60px !important;
        white-space: nowrap;
    }

    ._customer-toolbar-container {
        height: 60px !important;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1146px;
        width: 100%;
        box-sizing: border-box;
        padding-left: 0;
        padding-right: 0;
        align-items: center;
    }

    ._customer-toolbar__left {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ._customer-toolbar__logo {
        width: 47px !important;
        height: 48px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    ._customer-toolbar__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: nowrap;
        margin: 0 12px;
        height: 60px;
    }

    ._customer-toolbar__link {
        position: relative;
        text-transform: none !important;
        padding: 0 12px;
        margin: 0 !important;
        text-decoration: none !important;
        cursor: pointer;
        box-sizing: border-box;
        color: #221f1f !important;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 24px;
        text-align: left;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    ._customer-toolbar__link:hover {
        cursor: pointer;
        text-decoration: underline !important;
    }

    ._customer-toolbar__contact {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    ._customer-toolbar__email {
        color: #221f1f !important;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 20px;
        text-align: left;
        margin: 0;
        padding-left: 29px;
        position: relative;
        white-space: nowrap;
        text-decoration: underline;
    }

    ._customer-toolbar__email:hover {
        text-decoration: none;
        cursor: pointer;
    }

    ._customer-toolbar__email:before {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        background-image: url("/system/ckeditor_assets/pictures/294645/content_header-mail.png");
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
    }

    ._customer-toolbar__phone {
        color: #221f1f !important;
        font-family: Prosto One, sans-serif;
        font-size: 18px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 27px;
        text-align: left;
        padding-left: 29px;
        position: relative;
        white-space: nowrap;
        text-decoration: none;
        margin: 0 20px 0 40px;
    }

    ._customer-toolbar__phone:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    ._customer-toolbar__phone:before {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        background-image: url("/system/ckeditor_assets/pictures/294646/content_header-phone.png");
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
    }

    @media (max-width: 1226px) {
        ._customer-toolbar-container {
            width: calc(100% - 20px);
        }

        ._customer-toolbar__nav {
            margin: 0;
        }

        ._customer-toolbar__phone {
            margin: 0 10px;
        }
    }

    @media (max-width: 950px) {
        ._customer-toolbar {
            display: none;
        }
    }
</style>
<div class="_customer-toolbar">
    <div class="_customer-toolbar-container">
        <div class="_customer-toolbar__left">
            <a class="_customer-toolbar__logo" href="/">
                <img class="_customer-toolbar__logo-img"
                     src="/system/ckeditor_assets/pictures/294655/content_toolbar-logo.png">
            </a>
            <div class="_customer-toolbar__nav">
                <a class="_customer-toolbar__link"
                   onclick="yaCounter46886355.reachGoal('megasite_toolbar_link_page_20607'); return true;" href="/pages/20607-o-kompanii">О компании</a>
                <a class="_customer-toolbar__link"
                   onclick="yaCounter46886355.reachGoal('megasite_toolbar_link_catalog'); return true;" href="/catalog">Каталог</a>
                <a class="_customer-toolbar__link"
                   onclick="yaCounter46886355.reachGoal('megasite_toolbar_link_contacts'); return true;"
                   href="/contacts">Контакты</a>
            </div>
        </div>

        <form class="_customer-header__search-form search-form with-search-icon js-company-search-hints-form"
              accept-charset="UTF-8" accept-encoding="UTF-8" action="/catalog"
              method="get"
              onsubmit="formSubmitter.disableButtons(this, null, null);">
            <div style="margin:0;padding:0;display:none"><input name="utf8" type="hidden" value="✓"/></div>

            <div class="_customer-header-input-cnt sf-input-wrapper _customer-header__input-wrapper"><input
                    class="sf-input js-reset-field js-company-search-hints-input _customer-header__inp" id="q"
                    maxlenght="255" name="q"
                    placeholder="Найти товар или услугу" type="text"/>
                <button onclick="yaCounter46886355.reachGoal('megasite_toolbar_search'); return true;"
                        class="_customer-header__search-btn" name="commit" type="submit"
                        value="Поиск"></button>
            </div>
        </form>

        <div class="_customer-toolbar__contact">
            <a class="_customer-toolbar__phone" href="tel:+79086795288"
               onclick="yaCounter46886355.reachGoal('megasite_toolbar_tel'); return true;" target="_blank">
                +7 (908) 679-52-88</a>
            <a class="_customer-toolbar__email" href="mailto:evt.sp@mail.ru"
                   onclick="yaCounter46886355.reachGoal('megasite_toolbar_email'); return true; " target="_blank">evt.sp@mail.ru</a>
        </div>
    </div>
</div>
<script>
    /* подсказки в поле поиска */
    setTimeout(() => {
        const customSearhForm =
                document.querySelectorAll(".search-form"),
            customSearhStyle = document.createElement("style");
        customSearhStyle.textContent = `.search-form .company-search-hints{display:none}.search-form_opend-hints .company-search-hints{display:block}`;
        document
            .querySelector("head")
            .appendChild(customSearhStyle);
        for (form of customSearhForm) {
            form.addEventListener("mouseenter", function (e) {
                e.target.classList.add("search-form_opend-hints");
            });
            form.addEventListener("mouseleave", function (e) {
                e.target.classList.remove(
                    "search-form_opend-hints"
                );
            });
        }
    }, 500);

    /* hover меню каталога */

    document.addEventListener("DOMContentLoaded", function () {

        document.querySelector('.horizontal-menu').addEventListener('mouseover', (e) => {
            if (e.target.classList.contains('rlp-item-content')) {
                for (let a of document.querySelectorAll('.rlp-item-content')) {
                    a.removeAttribute('style');
                }
                e.target.setAttribute('style', 'color: #005FA0 !important;font-weight: 400 !important;background-color: #ffffff !important; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);');
            }
        });
    });
</script>